body
{
	background-color: #222629;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
}

div.title
{
	margin-top: 5vh;
	margin-left: 5%;
	width: 100%;
	height: 10vh;
	border-left: 0.6vh #86C232 solid;
	position: relative;
}

p.title
{
	margin: 0;
	line-height: 10vh;
	font-size: 6.66vh;
	text-align: left;
	margin-left: 5%;
	font-family: text_content;
	color: #86C232;
	position: absolute;
}

div.faculty_wrapper
{
	width: 100%;
	height: 20vh;
	position: relative;
	margin-top: 5vh;
}

div.faculty_1
{
	height: 20vh;
	width: 45%;
	position: absolute;
	margin-left: 10%;
	margin-right: 2%;
}

div.faculty_2
{
	height: 20vh;
	width: 45%;
	position: absolute;
	margin-left: 56%;
	margin-right: 3%;
}


img.faculty_image
{
	width: 20vh;
	height: 20vh;
	border: 0.4vh #86C232 solid;
	border-radius: 50%;
	position: absolute;
	object-fit: cover;
}

a.faculty_image
{
	text-decoration: none;
}

img.faculty_image:hover
{
	border: 0.8vh #86C232 solid;
	transition: linear;
	transition-duration: 200ms;
}

p.faculty_name
{
	width: 70%;
	height: 5vh;
	line-height: 5vh;
	font-size: 3.33vh;
	margin-top: 1vh;
	position: absolute;
	margin-left: 40%;
	font-family: text_content;
	color: white;
	text-align: left;
}

a.faculty_name
{
	text-decoration: none;
	color: inherit;
	font-family: inherit;
}

p.faculty_name:hover
{
	color: #86C232;
	transition: linear;
	transition-duration: 100ms;
}

p.faculty_info
{
	width: 70%;
	height: 13vh;
	position: absolute;
	margin-left: 40%;
	margin-top: 6vh;
	margin-bottom: 1vh;
	font-family: text_content;
	text-align: left;
	line-height: 3vh;
	font-size: 2vh;
	color: #7a7d80;
}

a.faculty_info
{
	text-decoration: none;
	color: inherit;
	font-family: inherit;
}

a.faculty_info:hover
{
	color: #86C232;
	transition: linear;
	transition-duration: 100ms;
}

div.batch
{
	margin-top: 5vh;
	margin-left: 10%;
	width: 100%;
	height: 6vh;
	border-left: 0.3vh #86C232 solid;
	position: relative;
}

p.batch
{
	margin: 0;
	line-height: 6vh;
	font-size: 4vh;
	text-align: left;
	margin-left: 3%;
	color: #86C232;
	font-family: text_content;
	position: absolute;
}

div.student_wrapper
{
	margin-top: 5vh;
	width: 100%;
	height: 25vh;
	position: relative;
}

div.student_1
{
	height: 25vh;
	width: 17vh;
	--horizontal_margin: calc(7% + (93% - 85vh) / 6);
	margin-left: var(--horizontal_margin);
	border: 0.4vh #86C232 solid;
	border-radius: 5vh;
	position: absolute;
}

img.student_1
{
	margin-top: 1vh;
	margin-left: 1vh;
	height: 15vh;
	position: absolute;
	border-radius: 50%;
}

p.student_1
{
	height: 4vh;
	line-height: 4vh;
	font-family: text_content;
	font-size: 2.66vh;
	color: #7a7d80;
	text-align: center;
	margin-top: 16vh;
	margin-bottom: 1vh;
}

div.student_1:hover
{
	border: 0.8vh #86C232 solid;
	transition-duration: 100ms;
	transition: linear;
}

div.student_2
{
	height: 25vh;
	width: 17vh;
	--horizontal_margin: calc(2 * ((93% - 85vh) / 6) + 7% + 17vh);
	margin-left: var(--horizontal_margin);
	border: 0.4vh #86C232 solid;
	border-radius: 5vh;
	position: absolute;
}

img.student_2
{
	margin-top: 1vh;
	margin-left: 1vh;
	height: 15vh;
	position: absolute;
	border-radius: 50%;
}

p.student_2
{
	height: 4vh;
	line-height: 4vh;
	font-family: text_content;
	font-size: 2.66vh;
	color: #7a7d80;
	text-align: center;
	margin-top: 16vh;
	margin-bottom: 1vh;
}

div.student_2:hover
{
	border: 0.8vh #86C232 solid;
	transition-duration: 100ms;
	transition: linear;
}

div.student_3
{
	height: 25vh;
	width: 17vh;
	--horizontal_margin: calc(3 * ((93% - 85vh) / 6) + 7% + 34vh);
	margin-left: var(--horizontal_margin);
	border: 0.4vh #86C232 solid;
	border-radius: 5vh;
	position: absolute;
}

img.student_3
{
	margin-top: 1vh;
	margin-left: 1vh;
	height: 15vh;
	position: absolute;
	border-radius: 50%;
}

p.student_3
{
	height: 4vh;
	line-height: 4vh;
	font-family: text_content;
	font-size: 2.66vh;
	color: #7a7d80;
	text-align: center;
	margin-top: 16vh;
	margin-bottom: 1vh;
}

div.student_3:hover
{
	border: 0.8vh #86C232 solid;
	transition-duration: 100ms;
	transition: linear;
}

div.student_4
{
	height: 25vh;
	width: 17vh;
	--horizontal_margin: calc(4 * ((93% - 85vh) / 6) + 7% + 51vh);
	margin-left: var(--horizontal_margin);
	border: 0.4vh #86C232 solid;
	border-radius: 5vh;
	position: absolute;
}

img.student_4
{
	margin-top: 1vh;
	margin-left: 1vh;
	height: 15vh;
	position: absolute;
	border-radius: 50%;
}

p.student_4
{
	height: 4vh;
	line-height: 4vh;
	font-family: text_content;
	font-size: 2.66vh;
	color: #7a7d80;
	text-align: center;
	margin-top: 16vh;
	margin-bottom: 1vh;
}

div.student_4:hover
{
	border: 0.8vh #86C232 solid;
	transition-duration: 100ms;
	transition: linear;
}

div.student_5
{
	height: 25vh;
	width: 17vh;
	--horizontal_margin: calc(5 * ((93% - 85vh) / 6) + 7% + 68vh);
	margin-left: var(--horizontal_margin);
	border: 0.4vh #86C232 solid;
	border-radius: 5vh;
	position: absolute;
}

img.student_5
{
	margin-top: 1vh;
	margin-left: 1vh;
	height: 15vh;
	position: absolute;
	border-radius: 50%;
}

p.student_5
{
	height: 4vh;
	line-height: 4vh;
	font-family: text_content;
	font-size: 2.66vh;
	color: #7a7d80;
	text-align: center;
	margin-top: 16vh;
	margin-bottom: 1vh;
}

div.student_5:hover
{
	border: 0.8vh #86C232 solid;
	transition-duration: 100ms;
	transition: linear;
}