div.welcome
{
	width: 100%;
	position: relative;
	height: 80vh;
}

p.welcome
{
	font-family: text_content;
	width: 100%;
	text-align: center;
	height: 24vh;
	line-height: 12vh;
	font-size: 8vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	position: absolute;
	color: white;
}

p.about
{
	font-family: text_content;
	width: 75%;
	text-align: center;
	height: 30vh;
	line-height: 4vh;
	font-size: 2.66vh;
	margin-left: 12.5%;
	margin-top: 40vh;
	margin-bottom: 6vh;
	position: absolute;
	color: #7a7d80;
}