div.introduction
{
	width: 100%;
	position: relative;
	height: 60vh;
}

p.title
{
	font-family: text_content;
	width: 100%;
	text-align: center;
	height: 20vh;
	line-height: 10vh;
	font-size: 6.67vh;
	margin-top: 6vh;
	position: absolute;
	color: white;
}

p.about
{
	font-family: text_content;
	width: 75%;
	text-align: center;
	height: 30vh;
	line-height: 4vh;
	font-size: 2.66vh;
	margin-left: 12.5%;
	margin-top: 26vh;
	position: absolute;
	color: #7a7d80;
}

div.links
{
	height: 20vh;
	position: relative;
}

a.link
{
	text-decoration: none;
	font-family: text_content;
	text-align: center;
	color: white;
	line-height: 6vh;
	font-size: 4vh;
	margin-bottom: 7vh;
	position: absolute;
	width: 25%;
}

.pub
{
	margin-left: 20%;
	margin-right: 5%;
}

.pro
{
	margin-left: 55%;
	margin-right: 25%;
}

a.link:hover
{
	color: #86C232;
	transition: ease;
	transition-duration: 100ms;
}